/**
 * ! Changing default styles of the browser
 * ? dddddd
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

html {
    font-size: 62.5%;
}
body {
    min-height: 100vh;
    font-weight: 400;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
i {
    cursor: pointer;
}

/**
 * ! Navbar is here
 */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
}

.navbar h2 {
    font-size: 3rem;
}

.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}
.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

/**
 * ! Shop item styles are here 
 * 
 */

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}

@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px) {
    .shop {
        grid-template-columns: repeat(1, 223px);
    }
}

.item {
    border: 2px solid #212529;
    border-radius: 4px;
    min-height: 333px;
}

.item-img {
    width: 100%;
    min-height: 65%;
    object-fit: cover;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    font-size: 1.28rem;
}

.details h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price-quantity h2 {
    font-size: 2.2rem;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}

.fa-minus {
    color: red;
}

.fa-plus {
    color: green;
}
/**
* ! style rules for label and some buttons
**/

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.text-center h2 {
    font-size: 4rem;
    font-weight: 600;
}
.text-center .btn-empty {
    padding: 20px 43px;
    border-radius: 999px;
    font-size: 2rem;
}
.text-center .btn-empty:hover {
    opacity: 0.9;
}

.HomeBtn,
.checkout,
.removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout {
    background-color: green;
}
.removeAll {
    background-color: red;
}
.bi-x-lg {
    color: red;
    font-weight: bold;
}

/**
  * ! style rules for shopping-cart
  **/

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
    gap: 15px;
}

/**
  * ! style rules for cart-item
  **/

.cart-item {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
}
.cart-item img {
    width: 40%;
    height: 180px;
    object-fit: cover;
}
.cart-item .details {
    flex: 1;
    padding-top: 24px;
}

.title-price-x {
    display: flex;

    justify-content: space-between;

    /* border: 2px solid red; */
}
.title-price-x i {
    font-size: 2.8rem;
}

.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
}
.title-price {
    margin-bottom: 1px;
}
